@charset "UTF8"

body {
    background-color: rgb(34, 131, 131);font-family: Arial, Helvetica, sans-serif; font-size: 20px;
}

h1{
    color: rgb(26, 196, 82);
    background-color: darkgoldenrod;
}
h2{
    color: darkred;
}
p{
    text-align:justify;
}