@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    text-align: left;
}
p {
    text-align: justify;
    font-size: x-large;
}
.container1 {
    width: 900px;
    height: 350px;
    background-color: white;
    border-radius: 13px 13px 0px 0px;
    box-shadow: 2.5px -1.5px 5px rgba(0, 0, 0, 0.089);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.container2 {
    display: flex;
    height: 450px;
}
.elemento1 {
    color: rgb(194, 192, 192);
    width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.elemento1 > h1 {
    color: rgb(0, 196, 196);
}
.elemento1 > h2 {
   color:  rgb(169, 230, 72);
}
.elemento2 {
    background-color: rgb(16, 168, 161);
    color: white;
    width: 450px;
    border-radius: 0px 0px 0px 13px;
    box-shadow: 2.5px 2.5px 5px  rgba(0, 0, 0, 0.253);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.elemento3 {
    background-color: lightseagreen;
    color: white;
    width: 450px;
    border-radius: 0px 0px 13px 0px;
    box-shadow: 2.5px 2.5px 5px  rgba(0, 0, 0, 0.253);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.preco{
    font-size: x-large;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.preco > p {
    color:  rgb(106, 214, 209);
}
button {
    background-color: rgb(169, 230, 72);
    color: white;
    padding: 20px 40px;
    width: 350px; 
    font-size: 24px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.253);
    cursor: pointer;
}
.whyus {
    color: rgb(162, 241, 237);
    width: 350px;
    text-align: justify;
}

@keyframes anima {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

button:hover {
    animation-name: anima;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}