@charset "UTF-8";

/* em HTML é id= em CSS é #
   em HTML é class= em CSS é .
*/

body  {
    background-color:#FFF587;
    font-family: Arial, Helvetica, sans-serif;
}

h1  {
    color: #FF8C64;
}
h1#principal {
    text-align: center;
    background-color: #7D6B7D;
    color: white;
}

h2 {
    color: #FF665A;
}
 .basico {
     color: #7D6B7D;
     font-weight: bolder;
 }

.intermediario  {
    color: #A3A1A8;
}

.avançado {
    color: #5f2521 ;
}

.destaque {
    background-color: rgb(156, 158, 41);
}