@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/ 
}
body{
    background-image: linear-gradient(to right, #F2E638, #F2DD72);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6d5202bb;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
   color: #8C6A03;
   text-align: center;
   text-shadow: 1px 1px 2px #a09824c2;     
}
h2{
   color: #D9BD32;
}
p {
    text-align: justify;
}